---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>👨‍💻 Hello, there!</h1>
      <p>
        I am experienced in creating frontend interfaces and optimizing them for
        different devices including mobile, desktop, self service terminal and
        ATM machines. If you need to convert your designs to pixel perfect
        website or just have an idea to create proffessional website or want to
        modify, optimize current one and do not know where to start feel free to
		<a href="mailto:gognadzegiorgi@gmail.com">contact me.</a>
      </p>
    </main>
    <Footer />
  </body>
</html>
