---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>❤️ Interests</h1>
      <p>
        In addition to being a front-end developer, I like walking in parks,
        cycling, reading, listening to music, playing <a
          href="https://www.chess.com/member/georgegognadze"
          target="_blank">chess</a
        > and tennis. When forced indoors, I revise and update my skills, watch sci-fi
        and fantasy genre movies, watch chess tournaments.
      </p>
    </main>
    <Footer />
  </body>
</html>
